main {
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px 50px auto;
  width: 300px;
}

.form_container h1{
  display: flex;
  justify-content: center;
}

.register_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.register_form hr {
  margin: 30px 0;
}

.form_id_container, .form_password_container, .form_email_container {
  /* margin-top: 30px; */

}

.input_text {
  width: 296px;
  height: 30px;
}

.register_complete_btn {
  
  /* width: 150px; */
  height: 34px;
}

#input_id {
  margin-bottom: 10px;
}